.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .trigger:hover {
    color: #1890ff;
  }
  
  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
    .logo h1 {
      color: white;
      font-size: 2em;
    }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

  .ant-layout-sider {
    height: 100vh;

}

h1, h2, p {
  color: #1890ff;
}